<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput type="text" placeholder="Title" ngModel name="title" required #title="ngModel">
            <mat-error *ngIf="title.invalid">Please this field is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Post</mat-label>
            <textarea matInput placeholder="Post something..." ngModel name="content" required
                #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please this field is required.</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="mt-3">Create Post</button>
    </form>
</mat-card>
